.mobile-header{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
}

.fixed-cntent{
    position: fixed;
    bottom: 0;
}
.banner-img{
    width: 100%;
    height: 120px;
    border-radius: 1rem;
    object-fit: cover;
}
.nav-pills{
    li{
        width: 50%;
    }
    .nav-link{
        color: #6c757d!important;
    }
    .nav-link.active{
        border-bottom: 1px solid black;
        color: black!important;
    }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    color: black;
    
}

.sub-menu{
    position: sticky;
    top: 47px;
    background-color: white;
    z-index: 9999;
}
.accordion-button:not(.collapsed){
    background-color: #dc3545!important;
    color: white;
}
.accordion-button:not(.collapsed)::after{
    filter: invert(1);
}