$c-green-100:#3BB44A;
$c-green-10:#B5E797;
$c-red-10:#F35A28;
$c-purple-10:#BFB2F3;
$c-purple-100:#B568FF;
$c-pink-100:#FF61F6;
$c-blue-100:#25A6FF;
$c-red-100:#E31E25;
$c-white:#FFFFFF;
$c-pisPink-100:#C95C95;
$c-pisYellow-100:#FDB03C;
$c-black-10:rgba(0, 0, 0, 0.65);
$c-gray-10:rgba(0, 0, 0, 0.29);
$c-purple-90:#5E17EB;

