body {
  font-family: "Dancing Script", cursive;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans Cherokee", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans Tangsa", sans-serif;
  font-family: "Noto Serif Khitan Small Script", sans-serif;
  font-family: "Noto Serif Vithkuqi", serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto Slab", serif;
  font-family: "Ysabeau Infant", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F8F8;
}

.color-green {
  color: #3BB44A;
}

.flex-item {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}
.flex-item h1 {
  font-size: 18px;
}

.container {
  padding: 0px 50px;
}
@media (min-width: 1560px) {
  .container {
    padding: 0px 90px;
    width: 77%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 15px;
  }
}

.img-inter {
  width: 90px;
}

.practice-img {
  width: 100%;
  margin-bottom: 8px;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.col-md-8 {
  width: 70%;
  float: left;
}

.col-md-4 {
  width: 33.333%;
  float: left;
}

.col-md-5 {
  width: 20%;
  float: left;
}

@media (max-width: 767px) {
  .col-md-6, .col-md-8, .col-md-6, .col-md-4, .col-md-5 {
    width: 100%;
    float: none;
  }
}
.row {
  display: flex;
}
@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .white-box, .blue-box, .light-p-box, .perpul-box {
    padding: 50px 15px !important;
  }
  .session-slot .flex-item:last-child {
    display: block;
  }
  .left-content {
    text-align: center;
  }
  .perpul-box .right-content, .img-overly {
    text-align: center !important;
    margin-top: 16px;
  }
  .content-area {
    margin-bottom: 32px;
  }
  .form-control input {
    width: 100% !important;
  }
  .menu-side {
    display: none;
  }
  .toolBox .flex-item {
    gap: 10px 10px;
    flex-wrap: wrap;
  }
  .card img {
    width: 100%;
  }
  .mobile-tool {
    flex-direction: column-reverse;
    gap: 18px;
  }
}
header {
  background-color: white;
  padding: 6px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.img-overly {
  position: relative;
}

.ring {
  animation: circle 5s infinite linear;
  position: absolute;
  top: -17px;
  width: 160px !important;
  left: 99px;
  right: -19px;
  margin: 0 auto;
}

.menu-side ul {
  list-style: none;
  justify-content: end;
  align-items: center;
  height: 46px;
  padding-right: 4px;
}
.menu-side ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.outline-card {
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 10px;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
}

.react {
  position: relative;
  animation: reactaAnim 3s infinite linear;
}

@keyframes reactaAnim {
  0% {
    opacity: 0.01;
    filter: grayscale(1);
  }
  50% {
    opacity: 0.4;
    filter: grayscale(0.5);
  }
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}
.main-blk .white-box, .main-blk .blue-box, .main-blk .light-p-box, .main-blk .perpul-box {
  border: none;
  border-radius: 12px;
  background: linear-gradient(128deg, #4F7166 0%, rgba(100, 130, 121, 0.88) 49.71%, rgba(255, 255, 255, 0) 100%);
}
.main-blk .main-title {
  color: white;
}

.red-badge {
  flex-shrink: 0;
  border-radius: 8px;
  padding: 2px 20px;
  color: white;
  font-size: 10px;
  display: block;
  margin-bottom: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.red-badge.c-r {
  background-color: #F23260;
  color: white;
}
.red-badge.c-b {
  background-color: #5794b4;
  color: white;
}
.red-badge.c-g {
  background-color: #608f81;
  color: white;
}

.c-r {
  color: #F23260;
}

.c-b {
  color: #5794b4;
}

.c-g {
  color: #608f81;
}

.b-r {
  background-color: #F23260 !important;
  color: white;
}

.b-b {
  background-color: #5794b4 !important;
  color: white;
}

.b-g {
  background-color: #608f81 !important;
  color: white;
}

.b-g-l {
  background-color: #3BB44A !important;
  color: white;
}

.overivew-blk .card-slot {
  box-shadow: 0px 4px 90px 0px rgba(217, 217, 217, 0.28);
  border: none;
  overflow: hidden;
}
.overivew-blk img {
  width: 19px;
}
.overivew-blk .bg-1 {
  background-color: #F23260;
  color: white;
}
.overivew-blk .bg-2 {
  background-color: #5794b4;
  color: white;
}
.overivew-blk .bg-3 {
  background-color: #608f81;
  color: white;
}
.overivew-blk .bg-4 {
  background-image: url("./images/Excellent results!.png");
}
.overivew-blk .bg-5 {
  background-image: url("./images/Teacher trying his best to explain the subject.png");
}
.overivew-blk .bg-6 {
  background-image: url("./images/Elder brother has sense of the game.png");
}
.overivew-blk .bg-7 {
  background-image: url("./images/Complete concentration on work.png");
}

.content-overly h2 {
  line-height: 39px;
  font-size: 30px;
}
.content-overly h2, .content-overly h3 {
  margin-bottom: 40px;
}
.content-overly h3 {
  color: rgba(0, 0, 0, 0.53);
  font-size: 26px;
}

.green {
  color: #3BB44A !important;
}

.new-card-1 {
  border-radius: 16px;
  background-color: #378BFF;
  box-shadow: 3px -17px 33px -13px rgba(0, 0, 0, 0.48) inset;
  border: none;
  padding: 24px 16px;
  color: white;
}
.new-card-1 .flex-item {
  justify-content: space-between;
}
.new-card-1 h2 {
  margin-bottom: 8px;
  font-size: 16px;
}
.new-card-1 .badge-simn {
  padding: 4px 16px;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-size: 8px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4px;
}
.new-card-1.green-c {
  background-color: #3BB44A;
}
.new-card-1.red-c {
  background-color: #F23260;
}
.new-card-1 a {
  color: white !important;
  text-decoration: none;
  font-size: 8px;
}

.btn {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 12px;
  color: white;
  background-color: #3BB44A;
  text-decoration: none;
  border-radius: 60px;
  font-size: 16px;
}

.new-blk .card-slot {
  border: none;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 90px 0px rgba(217, 217, 217, 0.28);
}
.new-blk .card-slot h2 {
  margin-bottom: 12px;
}
.new-blk .card-slot a {
  color: black;
  text-decoration: none;
}

.white-box, .blue-box, .light-p-box, .perpul-box {
  width: 100%;
  margin-top: 30px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 50px 50px;
}
.white-box .img-overly, .blue-box .img-overly, .light-p-box .img-overly, .perpul-box .img-overly {
  text-align: end;
}
.white-box .img-overly img, .blue-box .img-overly img, .light-p-box .img-overly img, .perpul-box .img-overly img {
  width: 80%;
}

.content-area h4 {
  color: #000;
  font-family: Kaisei Decol;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.custom-width {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
  float: left;
}
.custom-width::-webkit-scrollbar {
  display: none;
}

.shape {
  gap: 0 20px;
  align-items: center;
}

.course-card {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.course-card .card-img img {
  width: 262px;
  height: 157px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-details {
  padding: 18px;
}
.card-details h1 {
  font-size: 18px;
}
.card-details ul {
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
  line-height: 22px;
}
.card-details ul li i {
  color: rgba(0, 0, 0, 0.53);
}

.carousel-slide {
  display: flex;
  width: 100%;
  gap: 0px 16px;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  bottom: -36px;
  right: 0;
  left: 0;
}

.position-relative {
  position: relative;
}

.carousel-control {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.interview-slot .badges-outline {
  font-size: 12px !important;
}

.carousel-control.active-1 {
  background: rgba(0, 0, 0, 0.53);
  width: 20px;
  border-radius: 8px;
}

.perpul-box {
  background-color: rgb(191, 178, 243);
}
.perpul-box h2, .perpul-box a {
  color: white;
  font-size: 30px;
}
.perpul-box .right-content {
  text-align: end;
}

.light-p-box {
  background: rgba(59, 180, 74, 0.06);
}

.slots-block .row, .practice .row, .certi-details .row {
  gap: 10px 10px;
}

.session-slot .row {
  gap: 10px 64px;
}

.circle-img {
  width: 48px;
}

.alin {
  align-items: center;
}

.card-slot {
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}
.card-slot ul {
  list-style: none;
  padding-left: 0;
}
.card-slot.lg-card img {
  width: 200px;
  height: 200px;
}
.card-slot.lg-card ul li {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-slot.lg-card ul li .fa-check {
  margin-right: 6px;
  color: #3BB44A;
}
.card-slot .flex-item {
  justify-content: space-between;
}
.card-slot h2 {
  font-size: 18px;
}
.card-slot p, .card-slot a {
  font-size: 13px;
}
.card-slot .badges-outline {
  border-radius: 28px;
  border: 1px solid #D9D9D9;
  padding: 4px 7px;
  color: rgba(0, 0, 0, 0.53);
  font-size: 10px;
  background-color: white;
  margin-right: 4px;
}
.card-slot .slot-img {
  position: absolute;
  right: 8px;
  bottom: 0;
  width: 130px;
  height: 145px;
}

footer .row {
  gap: 0 46px;
}

.banner-card .row {
  gap: 10px 10px;
}

.card-i img {
  width: 100%;
}

.active-page a {
  color: #3BB44A !important;
  font-weight: 700;
}

.blue-box {
  border: 1px solid #0011A8;
  background: rgba(0, 17, 168, 0.65);
  margin-bottom: 8px;
}
.blue-box .footer-widget {
  border-right: 1px solid white;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .blue-box .footer-widget {
    border: none;
    border-bottom: 1px solid white;
  }
}
.blue-box .footer-widget.last {
  border: none;
}
.blue-box h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}
.blue-box ul {
  padding-left: 0;
  list-style: none;
}
.blue-box ul li {
  margin-bottom: 12px;
}
.blue-box ul li a {
  color: white;
  text-decoration: none;
}

.slide-animation {
  position: relative;
  animation: slide 4s infinite;
}

@keyframes slide {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  33.33% {
    opacity: 0;
    transform: translateX(-100%);
  }
  66.66% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.jumbo .white-box, .jumbo .perpul-box, .jumbo .light-p-box, .jumbo .blue-box {
  padding: 20px 50px;
}
.jumbo .flex-item {
  justify-content: space-between !important;
}
.jumbo img {
  width: 60px;
}

.toolBox .flex-item {
  justify-content: space-between !important;
}
.toolBox .form-control {
  position: relative;
}
.toolBox h4 {
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.53);
}
.toolBox .searchbox {
  height: 40px;
  width: 330px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #FFF;
  padding: 4px 8px;
}
.toolBox .searchbox:focus {
  outline: none;
}
.toolBox .searchIcon {
  position: absolute;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 10px;
}

.hidden {
  display: none;
}

.practice .col-md-8 .white-box, .practice .col-md-8 .perpul-box, .practice .col-md-8 .light-p-box, .practice .col-md-8 .blue-box {
  padding: 16px;
  height: 350px;
  overflow-y: auto;
}

.reudce-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-panel .white-box, .left-panel .perpul-box, .left-panel .light-p-box, .left-panel .blue-box {
  height: 350px;
  overflow-y: auto;
  padding: 0;
}
.left-panel .white-box .list-header, .left-panel .perpul-box .list-header, .left-panel .light-p-box .list-header, .left-panel .blue-box .list-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.left-panel .white-box ul, .left-panel .perpul-box ul, .left-panel .light-p-box ul, .left-panel .blue-box ul {
  list-style: none;
  padding-left: 0;
}
.left-panel .white-box ul .list, .left-panel .perpul-box ul .list, .left-panel .light-p-box ul .list, .left-panel .blue-box ul .list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 0px;
}
.left-panel .white-box ul .list.active, .left-panel .perpul-box ul .list.active, .left-panel .light-p-box ul .list.active, .left-panel .blue-box ul .list.active {
  background-color: rgba(0, 0, 0, 0.08);
}
.left-panel .white-box ul .list a, .left-panel .perpul-box ul .list a, .left-panel .light-p-box ul .list a, .left-panel .blue-box ul .list a {
  padding: 0 15px;
}
.left-panel .white-box ul .list:hover, .left-panel .perpul-box ul .list:hover, .left-panel .light-p-box ul .list:hover, .left-panel .blue-box ul .list:hover {
  background-color: #D9D9D9;
}
.left-panel .white-box ul li a, .left-panel .perpul-box ul li a, .left-panel .light-p-box ul li a, .left-panel .blue-box ul li a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: white;
  padding: 16px;
}

.accordion-content {
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
}

.tab-panel {
  display: none;
}

.active {
  display: block;
}

.certificate .row {
  align-items: center;
}

.certificate-box img {
  width: 100%;
}
.certificate-box h3 {
  color: rgba(0, 0, 0, 0.53);
  margin-top: 8px;
  text-align: center;
}

.user-box {
  text-align: center;
}

.certi-details .content-overly h3 {
  margin: 16px 0;
  font-size: 20px;
}
.certi-details .content-overly p {
  margin-bottom: 16px;
}

.interview-slot .flex-item {
  align-items: start;
  margin-bottom: -20px;
}
.interview-slot .flex-item.increase-mar {
  margin-bottom: 0px;
}

.book-slot .increase-mar {
  margin-top: 1rem;
}

.accordion-item {
  position: relative;
}

.indigatores {
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  top: 16px;
}

.accordion {
  display: none;
}

#tab1 #javascript {
  display: block !important;
}

#tab2 #AnglaurJS {
  display: block !important;
}

#tab3 #CSS {
  display: block !important;
}

.perpul {
  background-color: #BFB2F3 !important;
  color: white !important;
}

#tab4 #JQuery {
  display: block !important;
}

#tab5 #AJAX {
  display: block !important;
}

.mentors-main, .dev {
  opacity: 0.3;
  pointer-events: none;
}

.fa-js {
  color: orange;
}

.fa-angular {
  color: red;
}

.fa-html5 {
  color: blue;
}

.tool-area {
  position: relative;
}

a {
  color: black;
}

#customTooltip {
  display: none;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  background: white;
  color: black;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 170px;
  z-index: 999999;
  border-radius: 8px;
}
#customTooltip::after {
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  top: -5px;
  left: 0;
  right: 100px;
  margin: 0 auto;
}

.choices {
  position: relative;
}
.choices button {
  display: block;
  display: block;
  margin-bottom: 13px;
  margin-top: 13px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 10px;
}
.choices button::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #3BB44A;
  border-radius: 100%;
  position: absolute;
  left: 0;
}
.choices button:hover {
  color: #3BB44A;
}

#submitBtn {
  cursor: pointer;
}

.mentors-main .mentors img {
  width: 80px;
}

iframe {
  width: 100%;
  height: 800px;
}

.contact a {
  font-size: 18px;
}

.custom-modal {
  position: fixed;
  overflow: auto;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.custom-modal-dialog {
  width: 100%;
  border-radius: 0px;
  position: relative;
  height: 100vh;
}

.custom-modal-content {
  background: #ffffff;
  border-radius: 10px;
}

.close-modal {
  border: none;
  background-color: white;
}
.close-modal .fa-close {
  color: white;
  background-color: red;
  border-radius: 100%;
  padding: 6px 8px;
}

.custom-modal {
  opacity: 0;
  visibility: hidden;
}

body.modal-open .custom-modal {
  opacity: 1;
  visibility: visible;
}

.custom-modal .custom-modal-dialog {
  transform: scale(0);
}

body.modal-open .custom-modal .custom-modal-dialog {
  transform: scale(1);
}

.custom-modal, body .custom-modal, body.modal-open .custom-modal .custom-modal-dialog, body .custom-modal .custom-modal-dialog {
  transition: all 0.5s;
}

.modal-header.flex-item {
  justify-content: space-between;
}

.kids-blk .white-box, .kids-blk .perpul-box, .kids-blk .light-p-box, .kids-blk .blue-box {
  position: relative;
  overflow: hidden;
}

.tab-material {
  width: 100%;
}
.tab-material ol {
  padding-left: 0;
  padding: 12px;
  margin-top: 16px;
}
.tab-material .tab-panel .row {
  align-items: center;
  justify-content: space-between;
}
.tab-material img {
  width: 325px;
}
.tab-material .img-2 {
  position: absolute;
  right: -51px;
  margin: 0 auto;
  top: 60px;
}
.tab-material .tab-data {
  margin-top: 16px;
}
.tab-material .img {
  text-align: center;
}
@media (max-width: 767px) {
  .tab-material .img {
    margin-top: 32px;
  }
}
.tab-material .img .img-1 {
  z-index: 9999;
}
.tab-material ul {
  display: flex;
  list-style: none;
  width: 32%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
  padding-left: 0;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.tab-material ul li {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 28px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .tab-material ul li {
    white-space: nowrap;
    z-index: 99999;
  }
}
.tab-material ul li.active {
  background-color: #F23260;
  transform: scale(1.12);
}
.tab-material ul li.active a {
  color: white !important;
}
.tab-material ul li a {
  text-decoration: none;
  color: black;
}

.bottom-nav {
  padding: 8px 16px;
  background: white;
  position: fixed;
  z-index: 99999999;
  bottom: 0;
  width: 100%;
}
.bottom-nav .flex-item {
  align-items: center;
  justify-content: space-between;
}
.bottom-nav .btn-1 {
  padding: 8px 16px;
  border: 1px solid #D9D9D9;
  border-radius: 28px;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */