$color-green:#3BB44A;
$color-green-light: rgba(59, 180, 74, 1);
$color-link:rgba(0, 17, 168, 1);
$color-gray:rgba(0, 0, 0, 0.53);
$color-white: white;
$color-blue:rgba(0, 17, 168, 1);
$color-gray-teal:#D9D9D9;
$color-gray-light: rgba(0, 0, 0, 0.08);


$size-16: 16px;
$size-8: 8px;
$size-4: 4px;
$size-32: $size-16 * 2;

body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans Cherokee', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-family: 'Noto Serif Khitan Small Script', sans-serif;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ysabeau Infant', sans-serif;
}

*{margin: 0;box-sizing: border-box;}
body{background-color: #F9F8F8;;}


.color-green{color: $color-green;}
.flex-item{
    display: flex;
    align-items: center;
    gap: 0px 10px;
    h1{
            font-size: $size-16 + 2;
    }
}

.container{
    padding: 0px 50px;
    @media(min-width: 1560px){
        padding: 0px 90px;
        width: 77%;
        margin: 0 auto;
    }

    @media(max-width: 767px){
        padding: 0px 15px;
    }
}
.img-inter{
    width: 90px;
}
.practice-img{
    width: 100%;
    margin-bottom: $size-8;
}
.col-md-6{width: 50%; float: left;}
.col-md-8{width: 70%; float: left;}
.col-md-4{width: 33.333%; float: left;}
.col-md-5{width: 20%; float: left;}
@media(max-width: 767px){
   .col-md-6, .col-md-8, .col-md-6, .col-md-4, .col-md-5{
        width: 100%;
        float: none;
   }
}
.row{
    display: flex;
    @media(max-width: 767px){
        flex-wrap: wrap;
     }
}

@media(max-width: 767px){
    .white-box, .blue-box, .light-p-box, .perpul-box {
        padding: 50px 15px !important;
    }
    .session-slot{
        .flex-item:last-child{
            display: block;
        }
    }
    .left-content{
        text-align: center;
    }
    .perpul-box .right-content, .img-overly{
        text-align: center !important;
        margin-top: $size-8 * 2;  
    }
    .content-area{
        margin-bottom: $size-32;
    }
    .form-control input{
        width: 100% !important;
    }
    .menu-side{
        display: none;
    }
    .toolBox{
        .flex-item {
            gap: 10px 10px;
            flex-wrap: wrap;
        }
    }
    .card{
        img{
            width: 100%;
        }
    }
    .mobile-tool{
        flex-direction: column-reverse;
        gap: 18px;
    }
}
header{
    background-color: white;
    padding: 6px;
    position: sticky;
    top: 0;
    z-index: 9999999999;
}
.img-overly{
    position: relative;
}
.ring{
    animation: circle 5s infinite linear;
    position: absolute;
    top: -17px;
    width: 160px !important;
    left: 99px;
    right: -19px;
    margin: 0 auto;
}

.menu-side{
    ul {
        list-style: none;
        justify-content: end;
        align-items: center;
        height: 46px;
        padding-right: $size-4;
        li a{
            text-decoration: none;
            color: #000000;
            font-size: $size-16;
        }
    }
}
.outline-card{
    border: 1px solid $color-gray-light;
    padding: $size-8 + 2 $size-8 + 2;
    border-radius: $size-8;
    width: fit-content;
}
.react{
   position: relative;
    animation: reactaAnim 3s infinite linear;
}
@keyframes reactaAnim {
    0%{
        opacity: 0.01;
        filter: grayscale(1);
    }
    50%{
        opacity: 0.4;
        filter: grayscale(0.5);
    }

    100%{
        opacity: 1;
        filter: grayscale(0);
    }
}
.main-blk{
    .white-box{
        border: none;
        border-radius: 12px;
background: linear-gradient(128deg, #4F7166 0%, rgba(100, 130, 121, 0.88) 49.71%, rgba(255, 255, 255, 0.00) 100%);
    }
    .main-title{
        color: white;
    }
    
}

$color-red: #F23260;
$color-blue-t:#5794b4;
$color-green-t:#608f81;
.red-badge{
    flex-shrink: 0;
    border-radius: $size-8;
    padding: $size-4 - 2  $size-4;
    color: $color-white;
    font-size: $size-16 - 6;
    display: block;
    margin-bottom: $size-16;
    width: fit-content;

    &.c-r{
        background-color: $color-red;
        color: $color-white;
    }
    &.c-b{
        background-color: $color-blue-t;
        color: $color-white;
    }
    &.c-g{
        background-color: $color-green-t;
        color: $color-white;
    }
}
.c-r{
    color: $color-red;
}
.c-b{
    color: $color-blue-t;
}
.c-g{
    color: $color-green-t;
}
.b-r{
    background-color: $color-red !important;
    color: white;
}
.b-b{
    background-color: $color-blue-t !important;
    color: white;
}
.b-g{
    background-color: $color-green-t !important;
    color: white;
}
.b-g-l{
    background-color: $color-green !important;
    color: white;
}

.overivew-blk{
    .card-slot{
        box-shadow: 0px 4px 90px 0px rgba(217, 217, 217, 0.28);
        border: none;
        overflow: hidden;
       
    }
    img{
        width: 19px;
    }

    .bg-1{
        background-color: $color-red;
        color: white;
    }
    .bg-2{
        background-color: $color-blue-t;
        color: white;
    }
    .bg-3{
        background-color: $color-green-t;
        color: white;
    }
    .bg-4{
        background-image: url('./images/Excellent\ results!.png');
    }
    .bg-5{
        background-image: url('./images/Teacher\ trying\ his\ best\ to\ explain\ the\ subject.png');
    }
    .bg-6{
        background-image: url('./images/Elder\ brother\ has\ sense\ of\ the\ game.png');
    }
    .bg-7{
        background-image: url('./images/Complete\ concentration\ on\ work.png');
    }

}

.content-overly{
    h2{
        line-height: $size-32 + 7; 
        font-size: $size-16 * 2 - 2;
    }
    h2, h3{margin-bottom: $size-8 * 5;}
    h3{
        color: $color-gray;
        font-size: $size-8 * 3 + 2;
    }
}

.green{
    color: $color-green !important;
}
.new-card-1{
    border-radius: 16px;
    background-color: #378BFF;
    box-shadow: 3px -17px 33px -13px rgba(0, 0, 0, 0.48) inset;
    border: none;
    padding: $size-16 + 8 $size-16;
    color: white;
    .flex-item{
        justify-content: space-between;
    }

    h2{
        margin-bottom: $size-8;
        font-size: $size-16;
    }
    // &:hover{
    //     box-shadow: 3px -17px 33px -13px #000 inset;
    //     transition: 0.4s;
    // }
    .badge-simn{
        padding: $size-4 $size-16;
        color: white;
        background-color: black;
        border-radius: $size-4;
        font-size: $size-8;
        display: block;
        width: fit-content;
        margin-top: $size-4;
    }
    &.green-c{
        background-color: #3BB44A;;
    }
    &.red-c{
        background-color: #F23260;
    }
    a{
        color: white !important;
        text-decoration: none;
        font-size: $size-8;
    }

}
@mixin btn1{
    padding: $size-8 $size-16 - 2;
    color: $color-white;
    background-color: $color-green;
    text-decoration: none;
    border-radius: 60px;
    font-size: $size-16 - 6;
}
.btn{
    display: inline-block;
    margin-top: $size-16;
    @include btn1();
}
.new-blk{
   .card-slot{
    border: none;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 90px 0px rgba(217, 217, 217, 0.28);
    h2{
        margin-bottom: $size-16 - 4;
    }
    a{
        color: black;
        text-decoration: none;
    }
   } 
}

.white-box{
    width: 100%;
    margin-top: $size-8 * 3 + 6;
    border-radius: $size-16 - 4;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    padding: 50px 50px;
    .img-overly{
        text-align: end;
        img{
            width: 80%;
        }
    }
}

.content-area{
    h4{
        color: #000;
        font-family: Kaisei Decol;
        font-size: $size-16 + 8;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.custom-width{
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    float: left;
    &::-webkit-scrollbar{
        display: none;
    }
}

.shape{
    gap: 0 20px;
    align-items: center;
}
.review{
    .outline-card{
        color: white;
        border: 1px solid;
        margin-bottom: 1rem;
    }
}
.course-card{
    padding: $size-8 + 2;
    border-radius: $size-8 * 2;
    border: 1px solid $color-gray-light;
    background-color: $color-white;
    .card-img img{
        width: 262px;
        height: 157px;
        border-radius: $size-8 * 2;
    }
    // .shadow-1{
    //     box-shadow: 0px 4px 90px 0px rgb(3 106 203 / 34%)
    // }
    // .shadow-2{
    //     box-shadow: 0px 4px 90px 0px rgb(141 206 244 / 34%)
    // }
    // .shadow-3{
    //     box-shadow: 0px 4px 90px 0px rgb(167 56 255 / 34%)
    // }
    // .shadow-4{
    //     box-shadow: 0px 4px 90px 0px rgb(23 26 34 / 34%)
    // }
    // .shadow-5{
    //     box-shadow: 0px 4px 90px 0px rgb(23 26 34 / 34%);
    // }
   
}
.card-details{
    padding: $size-16 + 2;
    h1{
        font-size: $size-16 + 2;
    }
    ul{
        list-style: none;
        padding-left: 0;
        margin-top: $size-16;
        line-height: $size-16 + 6;
        li{
            i{
                color: $color-gray;
            }
        }
    }
}

.carousel-slide {
    display: flex;
    width: 100%;
    gap: 0px $size-16;
}
.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: -36px;
    right: 0;
    left: 0;
}

.position-relative{
    position: relative;
}
.carousel-control {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    
}
.interview-slot{
    .badges-outline{
        font-size: $size-16 - 4 !important;
    }
}

.carousel-control.active-1 {
    background: $color-gray;
    width: 20px;
    border-radius: 8px;
}

.perpul-box{
    @extend .white-box;
    background-color: rgba(191, 178, 243, 1);
    h2,a{
        color: $color-white;
        font-size: $size-32 - 2;
    }
    .right-content{
        text-align: end;
    }
}

.light-p-box{
    @extend .white-box;
    background: rgba(59, 180, 74, 0.06);
}

.slots-block, .practice , .certi-details{
    .row{
        gap: 10px 10px;
    }
}
.session-slot{
    .row{
        gap: $size-8 + 2 $size-32 * 2;
    }
}
.circle-img{
    width: 48px;
}
.alin{
    align-items: center;
}
.card-slot{
    padding: $size-16 + 4;
    border-radius: $size-8;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    position: relative;
   
    ul{
        list-style: none;
        padding-left: 0;
        
    }
    &.lg-card img{
        width: 200px;
        height: 200px;
    }
    &.lg-card{
        ul{
            li{
                .fa-check{
                    margin-right: $size-4 + 2;
                    color: $color-green;
                }
                font-size: $size-16 + 4;
                margin-bottom: $size-8 + 2;
            }
        }
    }
    .flex-item{
        justify-content: space-between;
    }
    h2{
        font-size: 18px;
    }
    p, a{
        font-size: $size-16 - 3;
    }
   
    .badges-outline{
        border-radius: $size-32 - 2 * 2;
        border: 1px solid $color-gray-teal;
        padding: $size-4 $size-4 + 3;
        color: $color-gray;
        font-size: $size-8 + 2;
        background-color: $color-white;
        margin-right: $size-4;
    }
    .slot-img{
        position: absolute;
        right: $size-8;
        bottom: 0;
        width: 130px;
        height: 145px;
    }
}

footer{
    .row{
        gap: 0 46px;
    }
}
.banner-card{
    .row{
        gap: 10px 10px;
    }
}
.card-i img{
    width: 100%;
}

.active-page{
    a{
        color: $color-green !important;
        font-weight: 700;
    }
}

.blue-box{
    @extend .white-box;
    border: 1px solid #0011A8;
    background: rgba(0, 17, 168, 0.65);
    margin-bottom: $size-8;

    .footer-widget{
        border-right: 1px solid $color-white;
        @media(max-width: 767px){
            border: none;
            border-bottom: 1px solid $color-white;
        }
        margin-bottom: $size-8 * 3;
        &.last{
            border: none;
        }
    }
    
  
    h4{
        font-size: $size-16;
        margin-bottom: $size-8 + 2;
        color: $color-white;
    }
    ul{
        padding-left: 0;
        list-style: none;
        li{
            margin-bottom: $size-8 + 4;
            a{
                color: $color-white;
                text-decoration: none;
            }
        }
    }
}


.slide-animation {
    position: relative;
    animation: slide 4s infinite;
  }
  
  @keyframes slide {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    33.33% {
      opacity: 0;
      transform: translateX(-100%);
    }
    66.66% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  .jumbo{
    .white-box{
        padding: 20px 50px;
    }
    .flex-item{
        justify-content: space-between !important;
    }
    img{
        width: 60px;
    }
  }

.toolBox{
    .flex-item{
        justify-content: space-between !important;
    }
    .form-control{
        position: relative;
    }
    h4{
        text-align: center;
        font-size: $size-32 - 8;
        color: $color-gray;
    }
    .searchbox{
        height: 40px;
        width: 330px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        background: #FFF;
        padding: $size-4 $size-8;
        &:focus{
            outline: none;
        }
    }
    .searchIcon{
        position: absolute;
        position: absolute;
        right: 10px;
        top: 10px;
        border: 10px;
    }
}

.hidden {
    display: none;
  }

.practice{
    .col-md-8{
        .white-box{
            padding: $size-16;
            height: 350px;
            overflow-y: auto;
        }
    }
}
.reudce-pad{
    padding-top: $size-16 + 4;
    padding-bottom: $size-16 + 4;
}
.left-panel{
  
    .white-box{
        height: 350px;
        overflow-y: auto;
        padding: 0;

        .list-header{
            position: sticky;
            top:0;
            background-color: white;
            padding: $size-8 + 2 $size-8 + 4;
            border-bottom: 1px solid $color-gray-light;
        }
        ul{
            list-style: none;
            padding-left: 0;
            .list{
                border-bottom: 1px solid $color-gray-light;
                 padding: 10px 0px;
                 &.active{
                    background-color: $color-gray-light;
                 }
                 a{
                    padding: 0 $size-16 - 1;
                 }

                 &:hover{
                    background-color: $color-gray-teal;
                 }
            }
            li{ 
                a{
                    font-size: $size-16;
                    color: #000000;
                    text-decoration: none;
                   
                }
            }
        }
    }
}


.accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-header {
    cursor: pointer;
    border-radius: $size-8;
    border: 1px solid $color-gray-light;
    background: $color-white;
    padding: $size-8 * 2;
  }
  
  .accordion-content {
    // display: none;
    font-size: $size-8 + $size-4 + 2;
    line-height: $size-16 + 1;
    padding: $size-8 + 2;
  }

.tab-panel{
    display: none;
}
  .active{
    display: block;
  }

  .certificate{
    .row{
        align-items: center;
    }
  }
  .certificate-box{
    img{
        width: 100%;
    }
    h3{
        color: $color-gray;
        margin-top: $size-8;
        text-align: center;
    }
  }
  .user-box{
    text-align: center;
  }

  .certi-details{
    .content-overly{
        h3{
            margin: $size-16 0;
            font-size: $size-16 + 4;
        }
        p{
            margin-bottom: $size-16; 
        }
    }
  }
//   .card-slot:hover{
//     background-color: rgba(249, 248, 248, 1);
//     cursor: pointer;
//     box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.08);

//   }

  .interview-slot{
    .flex-item{
        align-items: start;
        margin-bottom: -20px;
        &.increase-mar{
            margin-bottom: 0px;
        }
    }
  }
  .book-slot .increase-mar{
    margin-top: 1rem;
  }
.accordion-item{
    position: relative;
}
.indigatores{
    position: absolute;
    top: 0;
    right: 18px;
    bottom: 0;
    top: 16px;
}
.accordion{
    display: none;
}
#tab1{
    #javascript{
        display: block !important;
    }
}
#tab2{
    #AnglaurJS{
        display: block !important;
    }
}
#tab3{
    #CSS{
        display: block !important;
    }
}

.perpul{
    background-color: #BFB2F3 !important;
    color: white !important;
}
#tab4{
    #JQuery{
        display: block !important;
    }
}
#tab5{
    #AJAX{
        display: block !important;
    }
}

.mentors-main, .dev{
    opacity: 0.3;
    pointer-events: none;
}
.fa-js{color: orange;}
.fa-angular{color: red;}
.fa-html5{color: blue;}

.tool-area{
    position: relative;
}
a{
    color: black;
}
#customTooltip {
    display: none;
    padding: 15px;
    text-align: center;
    font-size: 12px;
    background: white;
    color: black;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    width: 170px;
    z-index: 999999;
    border-radius: 8px;

    &::after{
        content: "";
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background-color: white;
        position: absolute;
        top: -5px;
        left: 0;
        right: 100px;
        margin: 0 auto;
    }
}

.choices{
    position: relative;
    button{
        display: block;
        display: block;
        margin-bottom: $size-8 + 5;
        margin-top:$size-8 + 5;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-left: 10px;
        
        &::before{
            content: "";
            width: 10px;
            height: 10px;
            border: 1px solid $color-green;
            border-radius: 100%;
            position: absolute;
            left: 0;
        }
        &:hover{
            color: $color-green;
        }
      
    }
}
#submitBtn{
    cursor: pointer;
}


.mentors-main{
    .mentors{
        img{
            width: 80px;
        }
    }
}

iframe{
    width: 100%;
    height: 800px;
}

.contact{
    a{
        font-size: $size-16 + 2;
    }
}


.custom-modal {
    position: fixed;
    overflow: auto;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 60%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:0 $size-32 - 2;
}
.custom-modal-dialog {
    width: 100%;
    border-radius: 0px;
    position: relative;
    height: 100vh;
}
.custom-modal-content {
    background: #ffffff;
    border-radius: 10px;
}
.close-modal {
    border: none;
    background-color: white;
    .fa-close{
        color: white;
        background-color: red;
        border-radius: 100%;
        padding: $size-4 + 2 $size-8;
        
    }
}
.custom-modal {
    opacity: 0;
    visibility: hidden;
}
body.modal-open .custom-modal {
    opacity: 1;
    visibility: visible;
}
.custom-modal .custom-modal-dialog{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
body.modal-open .custom-modal .custom-modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.custom-modal, body .custom-modal, body.modal-open .custom-modal .custom-modal-dialog, body .custom-modal .custom-modal-dialog{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
@media (max-width: 575.98px) {}

.modal-header{
    &.flex-item{
        justify-content: space-between;
  
}
}

.kids-blk{
   .white-box{
    position: relative;
    overflow: hidden;
   }
}
.review{
    .white-box{
        background: linear-gradient(128deg, #4F7166 0%, rgba(100, 130, 121, 0.88) 49.71%, rgba(255, 255, 255, 0) 100%);
        border: none;
    }
    .course-card{
        width: 300px;
        background-color: white;
    }
}
.tab-material{
    width: 100%;
    ol{
        padding-left: 0;
        padding: $size-16 - 4;
        margin-top: $size-16;
    }
    .tab-panel{
        .row{
            align-items: center;
            justify-content: space-between;
        }
    }
    img{
        width: 325px;
    }
    .img-2{
        position: absolute;
        right: -51px;
        margin: 0 auto;
        top: 60px;
    }

    .tab-data{
        margin-top: $size-16;
    }
    .img{
        text-align: center;
        @media (max-width: 767px) {
            margin-top:  $size-32;
        }
        .img-1{
          
            z-index: 9999;
        }
       
    }
    ul{
        display: flex;
        list-style: none;
        width: 32%;
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 2rem;
        padding-left: 0;
        border-radius: 60px;
        border: 1px solid $color-gray-light;
        
        li{
            padding: $size-8 $size-16;
            font-size: $size-16 - 2;
            border-radius: $size-32 - 2 *2;
            cursor: pointer;

            @media (max-width: 767px) {
                white-space: nowrap;
                z-index: 99999;
            }

            &.active{
                background-color: #F23260;
                transform: scale(1.10);
                animation: fadeIn 0.5s ease;
               a{
                color: white !important;
               }
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.bottom-nav{
    padding: $size-8 $size-16;
    background: white;
    position: fixed;
    z-index: 99999999;
    bottom: 0;
    width: 100%;
    .flex-item{
        align-items: center;
        justify-content: space-between;
    }
    .btn-1{
        padding: $size-8 $size-16;
        border:1px solid $color-gray-teal;
        border-radius: $size-32 - 2 * 2;
        text-decoration: none;
        
    }
}

.review{
    text-align: center;
    .profile{
        border-radius: 100%;
        display: block;
        width: 41px;
        margin: 0 auto;
    }
    .course-card{
        @media (max-width: 767px) {
            width: 234px;
        }
    }
}
